# Standard ignores
__pycache__/
*.py[cod]
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
.python-version
venv

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iml
*.iws

basic/tests/*.txt
restaurants.html
api_key.json
